* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;

}
.fa-xbox {
  position: relative;
  color: #fff;
  font-size: 10em;
  text-shadow: 0 0 50px #0f0,
               0 0 100px #0f0,
               0 0 150px #0f0,
               0 0 200px #0f0,
               0 0 250px #0f0;


             text-shadow: #FFF 0px 0px 50px, #FFF 0px 0px 100px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;

  animation: glow 5s linear infinite;
}
@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
